.nav {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'OneMobileTitle';
}

.logoImage {
    height: 1.5rem;
}

.links a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-family: 'OneMobileTitle';
}

.links a:visited {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .links a {
        font-size: 2rem;
    }

    .logoImage {
        height: 3rem;
    }
}

