@font-face {
    font-family: 'GmarketSansBold';
    src: url('../assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.landing-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    background-color: #6D32DB;
    color: white;
    font-family: 'GmarketSansBold';
    padding: 4rem;
    text-align: center;
}

.title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2vw;
    animation: slideInFromLeft 1.5s ease-out forwards;
}

.subtitle {
    text-align: left;
    font-size: 5rem;
    border-top: 2px;
    padding-top: 1rem;
    animation: slideInFromRight 2s ease-out forwards;
    animation-delay: 1s;
}

.highlight {
    color: #A0DB32;
}

.landing-container-body {
    line-height: 5rem;
    font-size: 2rem;
    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.text1, .text2, .text3, .text4 {
    padding: 3rem;
    text-align: center;
}

.text1 {
    margin-top: 10rem;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-section {
    position: relative;
    margin: 1.25rem 0;
}

.body-text {
    text-align: center;
}

.body-left-text {
    line-height: 3rem;
    padding: 2rem;
    text-align: left;
}

.landing-container-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-text {
    line-height: 3rem;
    padding: 0rem 2rem 2rem;
    text-align: center;
}

.bottom-content {
    display: flex;
    justify-content: space-around;
    padding: 3rem 10rem;
}

.characteristic {
    width: 70%;
    padding: 0 10rem 10rem;
}

.last-text {
    line-height: 5rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

.gotoTopicSelectButton {
    width: 10%;
    padding: 5rem 10rem 15rem;
    margin: 0 auto;
    display: block;
    transition: transform 0.5s ease;
}

.gotoTopicSelectButton:hover {
    transform: scale(1.02);
}

.aboutImage {
    width: 85%;
    padding: 0 10rem 10rem;
}

@media (max-width: 2000px) {
    html {
        font-size: 50%;
    }

    .title, .subtitle {
        font-size: 3.5rem;
    }

    .body-image-check {
        width: 8rem;
    }

    .body-text, .body-left-text, .bottom-text {
        font-size: 1.5rem;
    }

    .body-image {
        width: 80px;
    }

    
}

@media (max-width: 480px) {
    html {
        font-size: 40%;
    }

    .title, .subtitle {
        font-size: 3rem;
    }

    .body-text, .body-left-text, .bottom-text {
        font-size: 2rem;
    }
}

.animated-background {
    position: relative;
    overflow: hidden;
}

.animated-background::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    /* background-image: radial-gradient(circle, #6D32DB, transparent);
    animation: gradient-expand 4s ease-out infinite;
    transform: translate(-50%, -50%); */
    border-radius: 50%;
}

/* @keyframes gradient-expand {
    0% {
        transform: scale(0.5) translate(-50%, -50%);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: scale(5) translate(-50%, -50%);
        opacity: 0;
    }
} */