.title-choose-title {
    text-align: center;
    padding: 6.25rem 0 3rem;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
}

.body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 15rem 5rem;
    justify-content: center;
    align-items: center;
}

.body-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6D32DB;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform -.3s ease-in-out;
}

.body-box:hover {
    transform: translateY(-5px);
}

.body-icon {
    width: 50%;
    margin-bottom: 1rem;
}

.unselected {
    background-color: #BE9BFF;
}

.simulationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #BE9BFF;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin: 0.5rem auto 15rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform -.3s ease-in-out;
    max-width: 250px;
    border: 2px solid #BE9BFF;
}

.simulationButton.selected {
    background-color: #6D32DB;
    color: white;
    border: none;
}

.simulationImage {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.simulationButtonText {
    margin-right: 0.5rem;
}